
<div id="paddingtimes">
  <img class ="crown3 animated bounce" src="/assets/crown.png">
  <h1 class="animated fadeInDown">Log In</h1>

  <%# This is just a plan-ol' HTML form maker: %>

  <div class="animated fadeInDown" id="loginform">
    <%= form_tag logins_path do %>
  
      <p style="margin-top:15px;">
      
        <%= text_field_tag :email, nil, :placeholder => 'EMAIL',:class => "newuserinput" %>
      </p>
  
      <p>
        <%= password_field_tag :password, nil, :placeholder => 'PASSWORD',:class => "newuserinput"%>
      </p>
  
      <%= submit_tag "Log In" %>
    <% end %>
    
    <% if flash[:notice] %>
      <div style="color:white;">
        <p class="center notice"><%= flash[:notice] %></p>
        <p class="center notice">- OR -</p>
        <div class="buttonadd">
          <%= link_to "SIGN UP", :new_user %>
        </div>
      </div>
    <% end %>
  </div>

</div>

