<header><h1>Nag Log In</h1></header>

<div id="account_info">

<%# This is just a plan-ol' HTML form maker: %>
<%= form_tag logins_path do %>
 
  <div id="user_info_list">
  
    <div class="info_box">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
  
    <div class="info_box">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
  
    <div id="l-button" class="info_box">
      <%= submit_tag "Log In", :class => "login_button"  %>
    </div>
  
  </div>
  
<% end %>

</div>