
<div  style="margin-top: 100px;">
   <div id="form">
     <img class ="crown" src="/assets/crown.png">
     <h2 class="titlething">Create Group</h2>
     <div id="formbackground1">
       
       <%= form_for @group do |f| %>
         <p style="margin-top: 20px;">
           <%= f.text_field :name, :class => "inputtimes1",:placeholder => "Name" %>
         </p>
         <%= fields_for @task do |t|%>
           <%= t.text_field :desc , :class => "creategrouptasks", :placeholder => "Task 1"%>

         <% end %>


         <%= f.submit "Add", :class => "submittimes"%>
       <% end %>
    
     </div>
   </div>
</div>
