  <% if @user.errors.any? %>
    <div id="account_error">
      <% @user.errors.full_messages.each do |err| %>
        <p><%= err %></p>
      <% end %>    
    </div>  
  <% end %>

  <!-- :fname, :lname, :email, :phone, :password, :password_confirmation -->

  <div id="newform">
    <%= form_for @user do |f| %>
      <p>
        <%= f.text_field :fname, :placeholder => "FIRST NAME",:class => "newuserinput" %>
      </p>
  
      <p>

        <%= f.text_field :lname, :placeholder => "LAST NAME",:class => "newuserinput"  %>
      </p>
  
      <p>

        <%= f.text_field :email, :placeholder => "EMAIL",:class => "newuserinput" %>
      </p>
  
      <p>
        <%= f.text_field :phone, :placeholder => "PHONE NUMBER",:class => "newuserinput" %>
      </p>
  
      <p>
        <%= f.password_field :password, :placeholder => "PASSWORD",:class => "newuserinput" %>
      </p>
  
      <p>
        <%= f.password_field :password_confirmation, :placeholder => "CONFIRM PASSWORD",:class => "newuserinput" %>
      </p>

  
      <%= f.submit "SAVE",:class => "newuserinput"%>

<% end %>


 </div>

</div>  

