<!-- Add styling -->
<header><h1>Your Account</h1></header>

<div id="account_info">
  
  <div id="user_info_list">
    <div class="info_box"><%= @user.fname.upcase %> <%= @user.lname.upcase %></div>
    <div class="info_box"><%= @user.email %></div >
    <% phone = @user.phone.length > 0 ? number_to_phone(@user.phone, area_code: true) : "<no phone>" %>
    <% #binding.pry %>
    <div class="info_box"><%= phone %></div>
    <div class="info_box">You have <%= @user_events.count %> saved events. </div>
  </div>
  
  <div id="button_bar_div">  
    <ul id="button_bar_list" class="clearfix">
      <li id="e-button"><%= link_to("Edit Account", edit_user_path(@user.id), :class => "edit_button") %></li>
      <li id="d-button"><%= link_to("Delete Account!", user_path(@user.id), :method => "delete", :class => "delete_button") %></li>
    </ul>
  </div>
  
</div>
