<!DOCTYPE html>
<html>
<head>
  <title>TheNag</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <hr>
    <p> Welcome to the Nag, <%= "#{current_user.fname} #{current_user.lname}" %>!</p>
    <%= link_to("Log Out", login_path(current_user.id), :method => :delete) %>
    <br>
    <%= link_to("Account Info", user_path(current_user.id)) %>
    <br>
    <%= link_to("Dashboard", :dashboard) %>
    <hr>
  <% end %>
  
<%= yield %>

</body>
</html>
